<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
  	<welcome-file-list>
    	<welcome-file>index.do</welcome-file>
  	</welcome-file-list>
  
  	<!-- 通过listener加载app-config.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:app-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
  	<!-- 使Spring支持request与session的scope,如:<bean id="loginAction" class="com.foo.LoginAction" scope="request"/> -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- UTF-8 编码过滤器 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 使form支持GET、POST、PUT与DELETE请求 -->
	<filter>
    	<filter-name>HiddenHttpMethodFilter</filter-name>
    	<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>HiddenHttpMethodFilter</filter-name>
    	<servlet-name>SENSE</servlet-name>
  	</filter-mapping>
  
  	<servlet>
    	<servlet-name>SENSE</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>classpath:mvc-config.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>SENSE</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
		<servlet-name>JasperImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JasperImageServlet</servlet-name>
		<url-pattern>/servlets/image</url-pattern>
	</servlet-mapping>
	
  	<!-- 超时时间 600分钟 -->
  	<session-config>
  		<session-timeout>600</session-timeout>
  	</session-config>
  
   	<error-page>
     	<error-code>500</error-code>
     	<location>/500.jsp</location>
 	</error-page>
 
   	<error-page>
     	<error-code>404</error-code>
     	<location>/404.jsp</location>
 	</error-page>
 
  	<error-page>
     	<exception-type>java.lang.Throwable</exception-type>
     	<location>/error.jsp</location>
 	</error-page>
 
</web-app>